.introductionSection {
    background-color: beige;
    padding-bottom: 80px;
}

.introductionSection p {
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
}

.introductionArticles {
    margin-top: 30px;
}

.guarantees {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.guaranteeCard {
    width: 28rem;
}

.cardImage {
    padding: 10px;
    width: 120px;
}

@media screen and (max-width: 576px) {
    .cardImage {
        width: 90px;
    }
    .guarantees .cardTitle h3 {
        font-size: 20px;
    }
    .guarantees .cardText {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .guarantees {
        flex-direction: column;
        align-items: center;
    }
    .guaranteeCard {
        width: 20rem;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320px) {
    .guaranteeCard {
        width: 18rem;
        margin-bottom: 40px;
    }
    .cardImage {
        width: 75px;
    }
    .guarantees .cardTitle h3 {
        font-size: 18px;
    }
    .guarantees .cardText {
        font-size: 12px;
    }
}