.WApp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wappContainer {
    position: fixed;
    width: 130px;
    z-index: 1;
    text-align: center;
    border-radius: 50px;
    margin: 5px;
    padding: 7px;
}


.talkToMe {
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: red;
    padding-top: 3px;
    margin-bottom: 1px;
}

.whatsapp_float:hover + .talkToMe {
    display: block;
}

.logo {
    width: 50px;
    border-radius: 50%;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .talkToMe {
        display: none;
    }
    .wappContainer {
        width: 80px;
    }
    .logo {
        width: 40px;
    }
}